body {
    background-color: $color-background-dark-1;
}

.header {
    background-color: $color-background-dark-2;

    &::after {
        background-color: inherit;
    }

    &-heading {
        &__title {
            color: $color-text-dark-2;
        }

        &__followers-number {
            color: $color-text-dark-1;
        }

        &::after {
            background-color: $color-text-dark-1;
            border-bottom: .1rem solid $color-text-dark-1;
        }
    }

    & .mode {
        &__title {
            color: $color-text-dark-1;
        }

        &__button {

        }
    }
}

.followers {
    &-card {
        background-color: $color-background-dark-3;

        & .social-media {

            &__username {

            }
        }

        & .followers-count {

            &__counter {
                color: $color-text-dark-1;

                & span {
                    color: $color-text-dark-2;
                }
            }
        }

        & .followers-indicator {
            &__counter {
            }
        }
    }
}

.button {
    background: linear-gradient(60deg, $color-toggle-dark);

    &-indicator {
        background-color: $color-background-dark-2;
    }
}