.body.dark {
    background-color: $color-background-dark-1;
}

.header.dark {
    background-color: $color-background-dark-2;

    & .header-heading {
        &__title.dark {
            color: $color-text-dark-2;
        }

        &__followers-number.dark {
            color: $color-text-dark-1;
        }

        &::after {
            border-bottom: .1rem solid $color-text-dark-1;
            opacity: .1;
        }
    }

    & .mode {

        &__title.dark {
            color: $color-text-dark-1;
            transition: color .2s ease-in;

            &:hover {
                color: $color-text-dark-2;
            }
        }

        &__button.dark {
            background: linear-gradient(60deg, $color-toggle-dark);

            .mode__button-indicator.dark {
                background-color: $color-background-dark-2;
            }

            &:hover + .mode__title.dark {
                color: $color-text-dark-2;
            }
        }
    }

    &::after {
        background-color: inherit;
    }
}

.followers {
    &-card.dark {
        background-color: $color-background-dark-3;
        transition: background-color .2s ease-in;

        &:hover {
            @media (pointer: fine) {
                background-color: $color-background-dark-3-hover;
            }
        }


        & .social-media {
            
            &__username.dark {
                color: $color-text-dark-1;
            }
        }

        & .followers-count {

            &__counter.dark {
                color: $color-text-dark-1;

                & > span.dark {
                    color: $color-text-dark-2;
                }
            }
        }

        & .followers-indicator {

            &__counter {
                
            }
        }
    }
}

.rate {
    &--normal.dark {
        @extend .rate;
        @extend .followers-indicator__counter;
        color: $color-text-dark-2;
    }
}

.overview {

    &-heading.dark {
        color: $color-text-dark-2;
    }

    &-card.dark {
        background-color: $color-background-dark-3;
        transition: background-color .2s ease-in;

        &:hover {
            @media (pointer: fine) {
                background-color: $color-background-dark-3-hover;
            }
        }

        & .overview-card__element {

            & .title.dark {
                color: $color-text-dark-1;
            }

            & .icon {

            }

            & .amount.dark {
                color: $color-text-dark-2;
            }
        }
    }
}