.body.light {
    background-color: $color-background-light-1;
}

.header.light {
    background-color: $color-background-light-1;

    & .header-heading {
        &__title.light {
            color: $color-text-light-2;
        }

        &__followers-number.light {
            color: $color-text-light-1;
        }

        &::after {
            border-bottom: .1rem solid $color-text-light-2;
            opacity: .8;
        }
    }

    & .mode {
        &__title.light {
            color: $color-text-light-1;
        }

        &__button.light {
            background: $color-toggle-light;

            .mode__button-indicator.light {
                background-color: $color-background-light-2;
            }
        }
    }

    &::after {
        background-color: inherit;
    }
}

.followers {
    &-card.light {
        background-color: $color-background-light-3;

        & .social-media {
            
            &__username.light {
                color: $color-text-light-1;
            }
        }

        & .followers-count {

            &__counter.light {
                color: $color-text-light-2;

                & > span.light {
                    color: $color-text-light-2;
                }
            }
        }

        & .followers-indicator {

            &__counter {
                
            }
        }
    }
}

.rate {
    &--normal.light {
        @extend .rate;
        @extend .followers-indicator__counter;
        color: $color-primary-1;
    }
}

.overview {

    &-heading.light {
        color: $color-text-light-1;
    }

    &-card.light {
        background-color: $color-background-light-3;

        & .overview-card__element {

            & .title.light {
                color: $color-text-light-1;
            }

            & .icon {

            }

            & .amount.light {
                color: $color-text-light-2;
            }
        }
    }
}