.followers {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 2.4rem;

    &-card {
        align-items: center;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        height: 21.6rem;
        justify-content: space-evenly;
        max-width: 33rem;
        min-width: 16rem;
        width: 100%;

        &:first-child {
            border-top: .5rem solid $color-facebook;
        }
        &:nth-child(2) {
            border-top: .5rem solid $color-twitter;
        }
        &:nth-child(3) {
            background-clip: padding-box;
            border-top: .5rem solid transparent;
            padding-top: .5rem;
            position: relative;

            & > .social-media > .social-media__username {
                margin-left: .6rem;
            }

            &::after {
                background: linear-gradient(to right, $color-instagram);
                border-radius: inherit;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: -.5rem;
                width: 100%;
                z-index: -1;
            }
        }
        &:nth-child(4) {
            border-top: .5rem solid $color-youtube;
        }

        & .social-media {
            align-items: center;
            display: flex;
            justify-content: space-around;
            min-width: 9rem;

            &__username {

            }
        }

        & .followers-count {

            &__counter {

                & span {
                    display: block;
                }
            }
        }

        & .followers-indicator {
            align-items: center;
            display: flex;
        }
    }
}