.header {
    position: relative;

    &-content {
        align-items: center;
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 1000px) {
            flex-direction: row;
            justify-content: space-between;
        }

        & .header-heading {
            padding-bottom: 2.2rem;
            padding-top: 3.6rem;
            position: relative;
            width: 100%;
    
            &__title {
                margin-bottom: .1rem;
            }
    
            &::after {
                bottom: 0;
                content: "";
                left: 0;
                position: absolute;
                width: 100%;
    
                @media only screen and (min-width: 1000px) {
                    display: none;
                }
            }
        }
    
        & .mode {
            align-items: center;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-bottom: 2rem;
            padding-top: 1.6rem;
            width: 100%;
    
            @media only screen and (min-width: 1000px) {
                width: fit-content;
            }
            
            &__title {
                @media only screen and (min-width: 1000px) {
                    margin-right: 1rem;
                    width: max-content;
                }
            }
        }
    }

    &::after {
        border-radius: 2.5rem;
        bottom: -25%;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;

        @media only screen and (min-width: 1000px) {
            bottom: -105%;
            height: 300%;
        }
    }
}