.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;

    @media only screen and (min-width: 1000px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10%;
    }

    &-heading {
        padding-bottom: 2.2rem;
        padding-top: 3.6rem;
        position: relative;

        @media only screen and (min-width: 1000px) {
            margin: unset;
            max-width: unset;
            min-width: unset;
            width: fit-content;
        }

        &__title {
            margin-bottom: .1rem;
        }

        &__followers-number {
            
        }

        &::after {
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            width: 100%;

            @media only screen and (min-width: 1000px) {
                display: none;
            }
        }
    }

    & .mode {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-bottom: 2rem;
        padding-top: 1.6rem;

        @media only screen and (min-width: 1000px) {
            margin: unset;
            max-width: unset;
            min-width: unset;
            width: fit-content;
        }
        
        &__title {
            @media only screen and (min-width: 1000px) {
                margin-right: 1rem;
            }
        }

        &__button {
        }
    }

    &::after {
        border-radius: 2.5rem;
        bottom: -25%;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;

        @media only screen and (min-width: 1000px) {
            bottom: -105%;
            height: 300%;
        }
    }
}