.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
        border-radius: 2.5rem;
        bottom: -25%;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    &-heading, & .mode {
        max-width: 33rem;
        min-width: 16rem;
        width: 100%;
    }

    &-heading {
        padding-bottom: 2.2rem;
        padding-top: 3.6rem;
        position: relative;

        &__title {
            margin-bottom: .1rem;
        }

        &__followers-number {
            
        }

        &::after {
            bottom: 0;
            content: "";
            left: 0;
            opacity: .1;
            position: absolute;
            width: 100%;
        }
    }

    & .mode {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
        padding-top: 1.6rem;
        
        &__title {
            
        }

        &__button {

        }
    }
}