.overview {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 4.5rem;
    padding-top: 5rem;
    row-gap: 1.6rem;

    @media only screen and (min-width: 600px) {
        gap: 3rem;
        grid-template-areas: 
        "heading heading"
        "first second"
        "third fourth"
        "fifth sixth"
        "seventh eighth";
        grid-template-columns: repeat(2, 1fr);
    }

    &-heading {
        justify-self: left;
        min-width: 18.3rem;

        @media only screen and (min-width: 600px) {
            grid-area: heading;
        }
    }

    &-card {
        border-radius: .5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 12.5rem;
        padding: 6% 8%;
        width: 100%;

        @media only screen and (min-width: 600px) {
            padding: 12%;
        }

        &:nth-child(2) {
            @media only screen and (min-width: 600px) {
                grid-area: first;
            }
        }
        &:nth-child(3) {
            @media only screen and (min-width: 600px) {
                grid-area: second;
            }
        }
        &:nth-child(4) {
            @media only screen and (min-width: 600px) {
                grid-area: third;
            }
        }
        &:nth-child(5) {
            @media only screen and (min-width: 600px) {
                grid-area: fourth;
            }
        }
        &:nth-child(6) {
            @media only screen and (min-width: 600px) {
                grid-area: fifth;
            }
        }
        &:nth-child(7) {
            @media only screen and (min-width: 600px) {
                grid-area: sixth;
            }
        }
        &:nth-child(8) {
            @media only screen and (min-width: 600px) {
                grid-area: seventh;
            }
        }
        &:nth-child(9) {
            @media only screen and (min-width: 600px) {
                grid-area: eighth;
            }
        }

        &__element {

            &:nth-child(even) {
                justify-self: self-end;
            }

            &:nth-child(1), &:nth-child(2) {
                align-self: flex-start;
            }

            &:nth-child(3), &:nth-child(4) {
                align-self: flex-end;
            }

            &:nth-child(4) {
                display: flex;
                align-items: center;
            }

            & .title {

            }

            & .icon {
                width: .84em;
            }

            & .amount {

            }
        }
    }
}