.button {
    border: none;
    border-radius: 5rem;
    height: 2.4rem;
    outline: none;
    position: relative;
    width: 4.8rem;

    @media (pointer:fine) {
        cursor: pointer;
    }

    &-indicator {
        border-radius: 50%;
        height: 1.8rem;
        left: 8%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1.8rem;
    }
}

.slide-right {
    animation: slide-right .25s ease-in forwards;
}

.slide-left {
    animation: slide-left .25s ease-in forwards;
}

// .slide-left {
//     animation: slide .2s forwards ease-in reverse;
// }


//* Animations
@keyframes slide-right {
    from {
        left: 8%;
    }

    to {
        left: 54%;
    }
}

@keyframes slide-left {
    from {
        left: 54%;
    }

    to {
        left: 8%;
    }
}