// Primary
$color-primary-1: rgb(29, 180, 137);
$color-primary-2: rgb(220, 65, 76);

$color-facebook: rgb(25, 143, 245);
$color-twitter: rgb(28, 160, 242);
$color-instagram: rgb(253, 196, 104), rgb(223, 73, 150); //linear-gradient
$color-youtube: rgb(196, 3, 42);

// Primary | Dark
$color-toggle-dark: rgb(55, 143, 230), rgb(62, 218, 130); //linear-gradient

// Primary | Light
$color-toggle-light: rgb(174, 179, 203);


// Neutral

//Neutral | Dark
$color-background-dark-1: rgb(30, 32, 42); //body background
$color-background-dark-2: rgb(31, 33, 46); //top background pattern
$color-background-dark-3: rgb(37, 42, 65); //card background 
$color-text-dark-1: rgb(139, 151, 198); 
$color-text-dark-2: rgb(255, 255, 255);

// Neutral | Light
$color-background-light-1: rgb(255, 255, 255); //body background
$color-background-light-2: rgb(245, 247, 255); //top background pattern
$color-background-light-3: rgb(240, 242, 250); //card background
$color-text-light-1: rgb(99, 104, 126);
$color-text-light-2: rgb(30, 32, 42);

$color-black: rgb(0, 0, 0);