*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.container {
    padding: 0 6.7%;
}

.rate {
    margin-left: .5rem;

    &--good {
        @extend .rate;
        @extend .followers-indicator__counter;
        color: $color-primary-1;
    }
    &--bad {
        @extend .rate;
        @extend .followers-indicator__counter;
        color: $color-primary-2;
    }
}