*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

    @media only screen and (max-width: 327px) {
        font-size: 60%;
    }
}

body {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 33rem;
    min-width: 17.5rem;
    width: 80%;
}

.rate {
    margin-left: .5rem;

    &--good {
        @extend .rate;
        @extend .followers-indicator__counter;
        color: $color-primary-1;
    }
    &--bad {
        @extend .rate;
        @extend .followers-indicator__counter;
        color: $color-primary-2;
    }
}