body {
    font-family: "Inter", sans-serif;
}

.heading {
    font-weight: 700;
    text-transform: capitalize;

    &-primary {
        @extend .heading;
    }

    &-secondary {

    }
    
    &-tertiary {
        @extend .heading;
    }
}