*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 327px) {
  html {
    font-size: 60%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 33rem;
  min-width: 17.5rem;
  width: 80%;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 48rem;
  }
}

.rate, .rate--good, .rate--bad, .rate--normal.dark, .rate--normal.light {
  margin-left: .5rem;
}

.rate--good {
  color: #1db489;
}

.rate--bad {
  color: #dc414c;
}

body {
  font-family: "Inter", sans-serif;
}

.heading, .heading-primary, .heading-secondary, .heading-tertiary {
  font-weight: 700;
  text-transform: capitalize;
}

.heading-primary, .heading-secondary {
  font-size: 2.4rem;
}

@media only screen and (max-width: 353px) {
  .heading-primary, .heading-secondary {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 282px) {
  .heading-primary, .heading-secondary {
    font-size: 1.8rem;
  }
}

.heading-tertiary {
  font-size: 1.4rem;
}

@media only screen and (max-width: 353px) {
  .heading-tertiary {
    font-size: 1.2rem;
  }
}

.followers-card {
  font-size: 2.4rem;
}

@media only screen and (min-width: 600px) {
  .followers-card {
    font-size: 1.8rem;
  }
}

.followers-card .social-media__username {
  font-size: .5em;
}

.followers-card .followers-count__counter {
  font-size: .5em;
  font-weight: 400;
  letter-spacing: .5rem;
  text-align: center;
  text-transform: uppercase;
}

.followers-card .followers-count__counter span {
  font-size: 4.7em;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.2;
  text-transform: none;
}

.followers-card .followers-indicator__counter, .followers-card .rate--good, .followers-card .rate--bad, .followers-card .rate--normal.dark, .followers-card .rate--normal.light {
  font-size: .5em;
  font-weight: 400;
  text-transform: capitalize;
}

.overview-card {
  font-size: 2.4rem;
}

@media only screen and (min-width: 600px) {
  .overview-card {
    font-size: 1.8rem;
  }
}

.overview-card__element .title {
  font-size: .6em;
  text-transform: capitalize;
}

.overview-card__element .amount {
  font-size: 1.35em;
}

.rate, .rate--good, .rate--bad, .rate--normal.dark, .rate--normal.light {
  font-size: .5em;
  font-weight: 400;
  text-transform: capitalize;
}

.button {
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  height: 2.4rem;
  outline: none;
  position: relative;
  width: 4.8rem;
}

.button-indicator {
  border-radius: 50%;
  height: 1.8rem;
  left: 8%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.8rem;
}

.slide-right {
  -webkit-animation: slide-right .25s ease-in forwards;
          animation: slide-right .25s ease-in forwards;
}

.slide-left {
  -webkit-animation: slide-left .25s ease-in forwards;
          animation: slide-left .25s ease-in forwards;
}

@-webkit-keyframes slide-right {
  from {
    left: 8%;
  }
  to {
    left: 54%;
  }
}

@keyframes slide-right {
  from {
    left: 8%;
  }
  to {
    left: 54%;
  }
}

@-webkit-keyframes slide-left {
  from {
    left: 54%;
  }
  to {
    left: 8%;
  }
}

@keyframes slide-left {
  from {
    left: 54%;
  }
  to {
    left: 8%;
  }
}

.followers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 2.4rem;
}

@media only screen and (min-width: 600px) {
  .followers {
    gap: 3rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.followers-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 21.6rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 33rem;
  min-width: 16rem;
  width: 100%;
}

.followers-card:first-child {
  border-top: 0.5rem solid #198ff5;
}

.followers-card:nth-child(2) {
  border-top: 0.5rem solid #1ca0f2;
}

.followers-card:nth-child(3) {
  background-clip: padding-box;
  border-top: .5rem solid transparent;
  padding-top: .5rem;
  position: relative;
}

.followers-card:nth-child(3) > .social-media > .social-media__username {
  margin-left: .6rem;
}

.followers-card:nth-child(3)::after {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: -.5rem;
  width: 100%;
  z-index: -1;
}

.followers-card:nth-child(4) {
  border-top: 0.5rem solid #c4032a;
}

.followers-card .social-media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 9rem;
}

.followers-card .followers-count__counter span {
  display: block;
}

.followers-card .followers-indicator {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.header-heading {
  padding-bottom: 2.2rem;
  padding-top: 3.6rem;
  position: relative;
}

.header-heading__title {
  margin-bottom: .1rem;
}

.header-heading::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.header .mode {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
  padding-top: 1.6rem;
}

.header::after {
  border-radius: 2.5rem;
  bottom: -25%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.overview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  padding-bottom: 4.5rem;
  padding-top: 5rem;
  row-gap: 1.6rem;
}

@media only screen and (min-width: 600px) {
  .overview {
    gap: 3rem;
        grid-template-areas: "heading heading" "first second" "third fourth" "fifth sixth" "seventh eighth";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.overview-heading {
  -ms-grid-column-align: left;
      justify-self: left;
  min-width: 18.3rem;
}

@media only screen and (min-width: 600px) {
  .overview-heading {
    grid-area: heading;
  }
}

.overview-card {
  border-radius: .5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 12.5rem;
  padding: 6% 8%;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .overview-card {
    padding: 12%;
  }
}

@media only screen and (min-width: 600px) {
  .overview-card:nth-child(2) {
    grid-area: first;
  }
}

@media only screen and (min-width: 600px) {
  .overview-card:nth-child(3) {
    grid-area: second;
  }
}

@media only screen and (min-width: 600px) {
  .overview-card:nth-child(4) {
    grid-area: third;
  }
}

@media only screen and (min-width: 600px) {
  .overview-card:nth-child(5) {
    grid-area: fourth;
  }
}

@media only screen and (min-width: 600px) {
  .overview-card:nth-child(6) {
    grid-area: fifth;
  }
}

@media only screen and (min-width: 600px) {
  .overview-card:nth-child(7) {
    grid-area: sixth;
  }
}

@media only screen and (min-width: 600px) {
  .overview-card:nth-child(8) {
    grid-area: seventh;
  }
}

@media only screen and (min-width: 600px) {
  .overview-card:nth-child(9) {
    grid-area: eighth;
  }
}

.overview-card__element:nth-child(even) {
  -ms-grid-column-align: self-end;
      justify-self: self-end;
}

.overview-card__element:nth-child(1), .overview-card__element:nth-child(2) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.overview-card__element:nth-child(3), .overview-card__element:nth-child(4) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.overview-card__element:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview-card__element .icon {
  width: .84em;
}

.body.dark {
  background-color: #1e202a;
}

.header.dark {
  background-color: #1f212e;
}

.header.dark .header-heading__title.dark {
  color: white;
}

.header.dark .header-heading__followers-number.dark {
  color: #8b97c6;
}

.header.dark .header-heading::after {
  border-bottom: 0.1rem solid #8b97c6;
  opacity: .1;
}

.header.dark .mode__title.dark {
  color: #8b97c6;
}

.header.dark .mode__button.dark {
  background: linear-gradient(60deg, #378fe6, #3eda82);
}

.header.dark .mode__button.dark .mode__button-indicator.dark {
  background-color: #1f212e;
}

.header.dark::after {
  background-color: inherit;
}

.followers-card.dark {
  background-color: #252a41;
}

.followers-card.dark .social-media__username.dark {
  color: #8b97c6;
}

.followers-card.dark .followers-count__counter.dark {
  color: #8b97c6;
}

.followers-card.dark .followers-count__counter.dark > span.dark {
  color: white;
}

.rate--normal.dark {
  color: white;
}

.overview-heading.dark {
  color: white;
}

.overview-card.dark {
  background-color: #252a41;
}

.overview-card.dark .overview-card__element .title.dark {
  color: #8b97c6;
}

.overview-card.dark .overview-card__element .amount.dark {
  color: white;
}

.body.light {
  background-color: white;
}

.header.light {
  background-color: white;
}

.header.light .header-heading__title.light {
  color: #1e202a;
}

.header.light .header-heading__followers-number.light {
  color: #63687e;
}

.header.light .header-heading::after {
  border-bottom: 0.1rem solid #1e202a;
  opacity: .8;
}

.header.light .mode__title.light {
  color: #63687e;
}

.header.light .mode__button.light {
  background: #aeb3cb;
}

.header.light .mode__button.light .mode__button-indicator.light {
  background-color: #f5f7ff;
}

.header.light::after {
  background-color: inherit;
}

.followers-card.light {
  background-color: #f0f2fa;
}

.followers-card.light .social-media__username.light {
  color: #63687e;
}

.followers-card.light .followers-count__counter.light {
  color: #1e202a;
}

.followers-card.light .followers-count__counter.light > span.light {
  color: #1e202a;
}

.rate--normal.light {
  color: #1db489;
}

.overview-heading.light {
  color: #63687e;
}

.overview-card.light {
  background-color: #f0f2fa;
}

.overview-card.light .overview-card__element .title.light {
  color: #63687e;
}

.overview-card.light .overview-card__element .amount.light {
  color: #1e202a;
}
